/*@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap');
*/
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body{
	width: 100%;
	height: 100%;
}

body{
	font-family: 'IBM Plex Mono', monospace;
	font-size: 14px;
	background-color: #2c3e50;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

menu{
	width: 100%;
	height: 80px;
}
menu ul{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}
menu ul li{
	min-width: 120px;
	height: 56px;
	margin: 10px 10px;
	border: 2px solid #8e44ad;
	border-radius: 28px;
	text-align: center;
	background-color: #9b59b6;
	padding: 0 5px;	
}
menu ul li a{
	color: #f1c40f;
	text-decoration: none;
	line-height: 50px;
	font-size: 1.4em;
	width: 100%;
	height: 100%;
	display: block;
	text-transform: uppercase;
	margin: 0 5px;
}

form{
	width: 100%;
	height: auto;
	transform: translate(0, 25%);
}

form input{
	width: 100%;
	font-size: 1.5em;
	padding: 10px;
	background-color: #fff;
	border: none;
	opacity: .2;
	margin: 0 0 10px 0;
}
form label{
	width: 100%;
	font-size: 1.5em;
	display: block;
}

#login-form{
	width: calc(100% / 3);
	height: calc(100vh - 80px);
}

form input[type="submit"]{
	background-color: #2ecc71;
	border-radius: 25px;
	opacity: 1;
}

#register{
	width: 50%;
	height: calc(100vh - 80px);
}
#register form{
	transform: translate(0, 5%);
}
#register .row {
	width: 100%;
	display: flex;
	flex-direction: row;
}
#register .row .form-group{
	margin-right: 5px;
	width: 50%;
}

.content{
	width: 100%;
	height: calc(100vh - 80px);
	display: flex;
	flex-direction: row;
	align-items: center;
}
.content .buildings{
	width: 200px;
	text-align: right;
	padding: 25px;
	height: 100%;
	border-right: 2px solid #bdc3c7; 
}
.content .buildings ul{
	list-style: none;
	width: 100%;
}
.content .buildings ul li{
	width:100%;
	line-height: 24px;
	font-size: 18px;
}
.content .buildings ul li a{
	text-decoration: none;
	color: #000;
	display: block;
	width: 100%;
	margin-bottom: 5px;
	padding: 5px;
}
.content .buildings ul li a:hover,
.content .buildings ul li a.active{
	background-color: #9b59b6;
	color: #f1c40f;
}
#resources ul{
	list-style: none;
	margin: 5px;
	padding: 5px;
	display: flex;
}
#resources ul li{
	width: 120px;
	height: 80px;
	display: flex;
	flex-direction: column;
}
#production, #resources{
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
#production .production-item, #resources .resources-item{
	width: 250px;
	padding: 25px 15px;
	margin: 0 5px 10px 5px;
	border: 2px solid white;
	border-radius: 15px;
	font-size: 28px;
	font-weight: bold;
	text-align: center;
}
#production .production-item span.level{
	font-size: 14px;
	font-weight: normal;
	display: block;
	background-color: #9b59b6;
	padding: 8px 16px;
	margin-top: 8px;
	border-radius: 10px;
}
#production .production-item span.price{
	font-size: 18px;
	display: inline-block;
	width: 100%;
}
#production .production-item p{
	font-size: 18px;
	color: #9b59b6;
	margin: 8px 0;
}
#resources .resources-item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-form{
	display: flex;
}

#production .production-item button{
	width: 75%;
	padding: 10px 0;
	font-size: 16px;
	background-color: #9b59b6;
	border: none;
	border-radius: 12px;
	color: #f1c40f;
	cursor: grab;
}
#production .production-item button:hover{
	background-color: #9b59b690;
}
